{% if field.value is defined %}

    {% for item in field.value %}
        <span>{{ item.name }} | {{ item.value }}</span>

        {% if not loop.last %}
            <br>
        {% endif %}
    {% else %}
        <span>Aucun item défini</span>
    {% endfor %}
{% endif %}