{% if field.value is defined and entity.instance.tokenUsed is defined and not entity.instance.tokenUsed %}
    <img src="{{ qr_code_data_uri(field.value) }}"/>
{% else %}
    <span>Qr-code déjà utilisé</span>
{% endif %}